{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="container" {{ turbo_stream_listen('App\\Entity\\Auction') }}>
        <div class="text-center mt-4">
            <h1>Auction List</h1>
        </div>
        <div class="row mt-5 mb-4 mt-4" id="auctions">
            {% for auction in auctions %}
                {% include "home/auction.html.twig"  with { 'auction': auction }%}
            {% endfor %}
        </div>
    </div>
{% endblock %}
