{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="container" {{ turbo_stream_listen('App\\Entity\\Auction') }}>
        <div class="text-center mt-4">
            <h1>{{ "auctionList"|trans }}</h1>
        </div>
        {{ component('Search') }}
    </div>
{% endblock %}
