<turbo-stream action="append" target="form">
    <template>
        <div class="alert alert-success mt-2 mb-0" role="alert">
            Raise successfully created
        </div>
    </template>
</turbo-stream>